/* Theme one */

.bgNavy {
    background-color: rgb(2, 2, 65);
}

.bgNavy2 {
    background-color: rgb(17, 17, 227);
}

.bgNavy3 {
    background-color: rgb(160, 160, 223);
}

.bgNavy4 {
    background-color: rgb(77, 77, 95);
}

.bgNavy5 {
    background-color: rgb(39, 215, 39);
}

.navy6 {
    color: white;
}

.navy7 {
    color: green;
}

.navy8 {
    color: yellow;
}

.navy9 {
    color: rgb(22, 240, 232);
}

.hover1:hover {
    color: rgb(39, 215, 39);
    background-color: navy;
}

.active1 {
    color: rgb(39, 215, 39);
    background-color: navy;
}

/* Theme two */

.bgBlack {
    background-color: black
}

.bgBlack2 {
    background-color: rgb(45, 40, 40);
}

.bgBlack3 {
    background-color: rgb(87, 30, 22);
}

.bgBlack4 {
    background-color: rgb(38, 33, 33);
}

.bgBlack5 {
    background-color: orange;
}

.black6 {
    color: white;
}

.black7 {
    color: rgb(28, 64, 206);
}

.black8 {
    color: orangered;
}

.black9 {
    color: rgb(215, 240, 22);
}

.hover2:hover {
    color: orange;
    background-color: black;
}
.active2 {
    color: orange;
    background-color: black;
}



/* Theme three */

.bgGreen {
    background-color: green
}

.bgGreen2 {
    background-color: rgb(18, 244, 18)
}

.bgGreen3 {
    background-color: rgb(120, 216, 120)
}

.bgGreen4 {
    background-color: rgb(37, 98, 76)
}

.bgGreen5 {
    background-color: rgb(27, 136, 232)
}

.green6 {
    color: white;
}

.green7 {
    color: orange;
}

.green8 {
    color: rgb(0, 17, 255);
}

.green9 {
    color: rgb(255, 5, 5);
}

.hover3:hover {
    color: rgb(43, 255, 0);
    background-color: rgb(64, 6, 98);
}
.active3 {
    color: rgb(43, 255, 0);
    background-color: rgb(52, 8, 101);
}



/* Theme Four */

.bgPink {
    background-color: rgb(99, 4, 62)
}

.bgPink2 {
    background-color: rgb(107, 25, 140);
}

.bgPink3 {
    background-color: rgb(200, 85, 165);
}

.bgPink4 {
    background-color: rgb(119, 76, 109);
}

.bgPink5 {
    background-color: rgb(239, 8, 104);
}

.pink6 {
    color: white;
}

.pink7 {
    color: rgb(19, 18, 18);
}

.pink8 {
    color: rgb(55, 255, 0);
}

.pink9 {
    color: rgb(242, 147, 249);
}

.hover4:hover {
    color: rgb(0, 255, 179);
    background-color: rgb(233, 123, 14);
}
.active4 {
    color: rgb(0, 255, 179);
    background-color: rgb(233, 123, 14);
}



/* Theme Five */

.bgYellow {
    background-color: rgb(236, 236, 10)
}

.bgYellow2 {
    background-color: rgb(106, 103, 9);
}

.bgYellow3 {
    background-color: rgb(182, 184, 102);
}

.bgYellow4 {
    background-color: rgb(153, 113, 58);
}

.bgYellow5 {
    background-color: rgb(158, 84, 23);
}

.yellow6 {
    color: white;
}

.yellow7 {
    color: orange;
}

.yellow8 {
    color: rgb(255, 0, 230);
}

.yellow9 {
    color: rgb(22, 240, 40);
}

.hover5:hover {
    color: orange;
    background-color: black;
}
.active5 {
    color: orange;
    background-color: black;
}



/* Theme Six */

.bgRed {
    background-color: rgb(93, 5, 20);
}

.bgRed2 {
    background-color: rgb(230, 194, 18);
}

.bgRed3 {
    background-color: rgb(79, 188, 212);
}

.bgRed4 {
    background-color: rgb(132, 153, 90);
}

.bgRed5 {
    background-color: rgb(86, 80, 178);
}

.red6 {
    color: white;
}

.red7 {
    color: rgb(47, 0, 255);
}

.red8 {
    color: orangered;
}

.red9 {
    color: rgb(22, 240, 232);
}

.hover6:hover {
    color: orange;
    background-color: black;
}
.active6 {
    color: rgb(0, 68, 255);
    background-color: rgb(86, 21, 16);
}